@model OldMusicBox.ePUAP.Client.Core.Demo.Models.Home.AddDocumentToSigning5Model
@{
    ViewBag.Title = "AddDocumentToSigning";
}

<h2>AddDocumentToSigning</h2>

@using (var form = Html.BeginForm())
{
    <div>
        @Html.TextAreaFor(m => m.Document, new { rows = 25, cols = 40 })
    </div>
    <div>
        <button>Sign the document</button>
    </div>
}

<div>
    <a href="/Home">Return to main page</a>
</div>

