
@{
    ViewBag.Title = "Index";
}

<!--
<div>
    <a href="/Home/Signed">Single Sign-on through Profil Zaufany</a>
</div>
-->
<div>
    <a href="/Home/AddDocumentToSigning">Signing an XML document with Profil Zaufany (TpSigning)</a>
</div>
<div>
    <a href="/Home/VerifySignedDocument">Verify signed XML document (TpSigning)</a>
</div>
<div>
    <a href="/Home/AddDocumentToSigning5">Signing an XML document with Profil Zaufany (TpSigning5)</a>
</div>
<div>
    <a href="/Home/VerifySignedDocument5">Verify signed XML document (TpSigning5)</a>
</div>
<div>
    <a href="/Home/Other">Other services</a>
</div>
<div>
    <a href="/Home/TrustedProfileInfoForPESEL">TrustedProfileInfoForPESEL</a>
</div>

@if (this.TempData.ContainsKey("Message"))
{
    <div>
        @this.TempData["Message"];
    </div>
}