
@{
    ViewBag.Title = "Index";
}

<div>
    <a href="/Home/Signed">Single Sign-on through Profil Zaufany</a>
</div>
<div>
    <a href="/Home/AddDocumentToSigning">Signing an XML document with Profil Zaufany</a>
</div>
<div>
    <a href="/Home/VerifySignedDocument">Verify signed XML document</a>
</div>

@if (this.TempData.ContainsKey("Message"))
{
    <div>
        @this.TempData["Message"];
    </div>
}